{% extends 'base.html' %}

{% block content %}

<head>
    <style>
        h1 {
            background-color: #3463ad;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
        }

        label {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<h1>
    Add New Product
</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Product" />
            </td>
        </tr>
    </table>
</form>

{% endblock %}